[2018-06-18 23:50] arasatasaygin opened #1 "morning"
<img src="https://arasatasaygin.github.io/openlogos/logos/morning.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/morning-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per day

[2018-06-18 23:50] arasatasaygin opened #2 "mr-jumbo"
<img src="https://arasatasaygin.github.io/openlogos/logos/mr-jumbo.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/mr-jumbo-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per da

[2018-06-18 23:51] arasatasaygin opened #3 "gate-keeper"
<img src="https://arasatasaygin.github.io/openlogos/logos/gate-keeper.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/gate-keeper-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo

[2018-06-18 23:52] arasatasaygin opened #4 "quick-fingers"
<img src="https://arasatasaygin.github.io/openlogos/logos/quick-fingers.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/quick-fingers-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one l

[2018-06-18 23:52] arasatasaygin opened #5 "hangry-birds"
<img src="https://arasatasaygin.github.io/openlogos/logos/hangry-birds.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/hangry-birds-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one log

[2018-06-18 23:53] arasatasaygin opened #6 "kareem"
<img src="https://arasatasaygin.github.io/openlogos/logos/kareem.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/kareem-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per day un

[2018-06-18 23:53] arasatasaygin opened #7 "foxy"
<img src="https://arasatasaygin.github.io/openlogos/logos/foxy.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/foxy-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per day until

[2018-06-18 23:54] arasatasaygin opened #8 "speedy"
<img src="https://arasatasaygin.github.io/openlogos/logos/speedy.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/speedy-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per day un

[2018-06-18 23:55] arasatasaygin opened #9 "flame"
<img src="https://arasatasaygin.github.io/openlogos/logos/flame.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/flame-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per day unti

[2018-06-18 23:55] arasatasaygin opened #10 "clique"
<img src="https://arasatasaygin.github.io/openlogos/logos/clique.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/clique-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per day un

[2018-06-18 23:56] arasatasaygin opened #11 "birdangle"
<img src="https://arasatasaygin.github.io/openlogos/logos/birdangle.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/birdangle-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per

[2018-06-18 23:56] arasatasaygin opened #12 "moby"
<img src="https://arasatasaygin.github.io/openlogos/logos/moby.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/moby-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per day until

[2018-06-18 23:57] arasatasaygin opened #13 "blush"
<img src="https://arasatasaygin.github.io/openlogos/logos/blush.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/blush-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per day unti

[2018-06-18 23:57] arasatasaygin opened #14 "neo"
<img src="https://arasatasaygin.github.io/openlogos/logos/neo.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/neo-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per day until th

[2018-06-18 23:58] arasatasaygin opened #15 "sage"
<img src="https://arasatasaygin.github.io/openlogos/logos/sage.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/sage-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per day until

[2018-06-18 23:58] arasatasaygin opened #16 "charlie"
<img src="https://arasatasaygin.github.io/openlogos/logos/charlie.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/charlie-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per day

[2018-06-18 23:58] arasatasaygin opened #17 "steps"
<img src="https://arasatasaygin.github.io/openlogos/logos/steps.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/steps-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per day unti

[2018-06-18 23:59] arasatasaygin opened #18 "the-fall"
<img src="https://arasatasaygin.github.io/openlogos/logos/the-fall.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/the-fall-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per da

[2018-06-19 00:00] arasatasaygin opened #19 "aysha"
<img src="https://arasatasaygin.github.io/openlogos/logos/aysha.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/aysha-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per day unti

[2018-06-19 00:00] arasatasaygin opened #20 "recurse"
<img src="https://arasatasaygin.github.io/openlogos/logos/recurse.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/recurse-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per day

[2018-06-19 00:01] arasatasaygin opened #21 "viki"
<img src="https://arasatasaygin.github.io/openlogos/logos/viki.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/viki-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per day until

[2018-06-19 00:01] arasatasaygin opened #22 "im-possible"
<img src="https://arasatasaygin.github.io/openlogos/logos/im-possible.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/im-possible-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo

[2018-06-19 00:02] arasatasaygin opened #23 "apple"
<img src="https://arasatasaygin.github.io/openlogos/logos/apple.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/apple-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per day unti

[2018-06-19 00:02] arasatasaygin opened #24 "globe"
<img src="https://arasatasaygin.github.io/openlogos/logos/globe.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/globe-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per day unti

[2018-06-19 00:02] arasatasaygin opened #25 "bug-lock"
<img src="https://arasatasaygin.github.io/openlogos/logos/bug-lock.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/bug-lock-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per da

[2018-06-19 00:03] arasatasaygin opened #26 "ferdinand"
<img src="https://arasatasaygin.github.io/openlogos/logos/ferdinand.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/ferdinand-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per

[2018-06-19 00:03] arasatasaygin opened #27 "rayray"
<img src="https://arasatasaygin.github.io/openlogos/logos/rayray.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/rayray-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per day un

[2018-06-19 00:04] arasatasaygin opened #28 "inspector"
<img src="https://arasatasaygin.github.io/openlogos/logos/inspector.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/inspector-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per

[2018-06-19 00:04] arasatasaygin opened #29 "cosmos"
<img src="https://arasatasaygin.github.io/openlogos/logos/cosmos.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/cosmos-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per day un

[2018-06-19 00:05] arasatasaygin opened #30 "watch-bob"
<img src="https://arasatasaygin.github.io/openlogos/logos/watch-bob.jpg" width="325" height="325"><img src="https://arasatasaygin.github.io/openlogos/logos/watch-bob-o.jpg" width="325" height="325">

## To claim this logo
* Introduce your active open source project.
* Community can upvote your comment and you can upvote other projects as well.
* Starting from 1st of July, I will give one logo per

[2018-06-19 07:11] marcog83 commented on #10
Hi, the project I'd like to apply is named "RoboJS".

https://github.com/marcog83/RoboJS

RoboJS is a library that aims to dynamically load JS modules depending on how the DOM is composed. Add a node to the DOM and a JS will be loaded! Remove a node and the JS will be disposed!! Not further framework frontend , but a tool that lets you manage the association DOM and JS in less than 4k gzipped

[2018-06-19 07:19] arasatasaygin commented on #10
Hey @marcog83
You are the first claimer of openlogos. Thanks for the support :)

[2018-06-19 09:02] mtharrison commented on #17
Hey I'm building a browser-based interactive Wasm (webassembly) disassembler. Its goal is to teach people about the webassembly format, webassembly code and how the stack machine works. The cool thing is it will also be written in Rust and compiled to wasm. Wasm all the way down!

The app will allow a user to upload a compiled wasm file and then inspect all the sections in the binary including fun

[2018-06-19 09:12] xemasiv commented on #22
Hi, Mr. Aras!

Love your work.

I would like to propose a claim for this beautiful logo for "fugitive",
a project I'm currently working on which aims to leverage the rise of
WebRTC in optimizing the way we resolve web assets in a secure,
efficient, pre-orchestrated manner.

My goal is to create an open-sourced approach in improving user experience
by further reducing latency, which will efficientl

[2018-06-19 09:34] DrRoach commented on #5
Hello, the project that I would like to put forward is called [NetworkAPI](https://gitlab.com/DrRoach/NetworkAPI).

It is a Java networking library/API to make long drawn out networking processes quick and simple. It will allow relatively new/novice Java programmers to implement Server/Client architectures in their programs with just a few lines of code. Whether that's communication between deskto

[2018-06-19 09:42] DrRoach commented on #18
Hello, second and last submission.

[DynamicImage](https://gitlab.com/DrRoach/DynamicImage) is a web server based image generation project that generates dynamically sized images on the fly.

Imagine you have a user account system where users upload profile pictures. You then want these profile pictures to be displayed in either `128x128`, `512x512` or `1024x1024` depending on how the picture is b

[2018-06-19 09:50] agis commented on #22
Hello Aras!

Thanks for this great initiative.

We ([@skroutz](https://github.com/skroutz)) would love to use this logo for [*mistry*](https://github.com/skroutz/mistry), a build server that enables fast workflows by pre-computing results of commands and caching them for later use. It also comes with a web UI, in which the logo could be a great fit.

We built _mistry_ to increase the speed of our

[2018-06-19 09:55] michaelmior commented on #1
Inspired by Good Mythical Morning? :)

[2018-06-19 10:00] sid77 commented on #18
Hello,
[drop](https://github.com/sid77/drop) is a library that provides an easy way for dropping privileges in Go. The library takes care of calling the right combination of `setre{s}[g,u]id()` syscalls depending on the platform the program is being built for.

[2018-06-19 10:09] just1689 opened #31 "GG - The game with no name"
Greetings!

Would love a logo for our game. We're building a game to teach young people how to code.
The source can be found here: https://github.com/team142/gg

Some cool facts about the game:

- In-browser
- Full 3D
- Multiplayer
- Front end is written in JavaScript and uses BabylonJS as the 3D engine
- Backend is written in Java using Spring

Our server is down at the moment but should be back

[2018-06-19 10:12] #31 closed

[2018-06-19 10:15] just1689 commented on #9
Greetings!

Would love to use this logo for our game. We're building a game to teach young people how to code.
The source can be found here: https://github.com/team142/gg

Some cool facts about the game:

- In-browser
- Full 3D
- Multiplayer
- Front end is written in JavaScript and uses BabylonJS as the 3D engine
- Backend is written in Java using Spring

Our server is down at the moment but shoul

[2018-06-19 10:41] grsmv commented on #30
This one is amazing. I'm starting open source project immediately :)

[2018-06-19 10:53] claudiodangelis commented on #4
Hi @arasatasaygin, thanks for this project.

I'd like to adopt the quick-fingers logo for [qr-filetransfer](https://github.com/claudiodangelis/qr-filetransfer), a command line utility written in Go to transfer files over wifi from a device to another by scanning a QR code without leaving the terminal.

Here's a demo gif of how it works: [qr-filetransfer demo](https://github.com/claudiodangelis/qr-

[2018-06-19 11:12] ThemesGuide commented on #14
I would like to claim the "Neo" logo project for my free themes project: https://github.com/themesguide/bootstrap-themes

I think the colorful, geometric design of "Neo" would be a perfect fit for the diverse, bold color palette of our themes. Thank you!

[2018-06-19 11:12] kitze commented on #14
This looks like a nice icon for JSUI!

https://github.com/kitze/JSUI

It's a powerful UI toolkit for managing JavaScript apps.

[2018-06-19 11:18] avenirer commented on #27
Hello, I would like to present you an app that aims to track tasks. The app is made using CodeIgniter 3. The name I chose came as result of a word play (task, tusk). I was thinking that a boar or a rhinoceros would be representative as a logo.  https://github.com/avenirer/Tusker
Thank you.

[2018-06-19 11:45] jbrooksuk commented on #30
Hi @arasatasaygin, this is a great idea and I'd love to represent your work in my project.

"watch-bob" looks like a great logo for [Cachet](/CachetHQ/Cachet). Cachet is an open source status page system with over 8k stars on GitHub and tens of thousands of installations from many companies in many industries, including Nestle, Bosch and Mozilla.

Cachet means "to have status" and "watch-bob" here

[2018-06-19 11:46] billniakas commented on #9
I would like to claim this logo for our Arch Linux installer which is called Archon. https://github.com/CerebruxCode/Archon and it is in active development.

The Logo looks like Α and we could use it for our project.

[2018-06-19 11:49] billniakas commented on #22
I would like to claim this logo for our Arch Linux installer which is called Archon (Archon is a greek word which means "Ruler") https://github.com/CerebruxCode/Archon and it is in active development.

The Logo looks like Α and we could use it for our project (in a way we ease the struggle of getting out of the maze that is the Arch Linux Installation)

Cheers
Bill Niakas

[2018-06-19 11:52] scalatapes commented on #24
Though not technically an open source project, I'd like to present my non-profit organisation in the hopes of claiming this logo.

I run a small, non-profit organisation called Scala. We promote diversity and accessibility (for individuals with a disability) within the local and european music scene. Several festivals and labels have white, male, cis-centric lineups and many events are not accessi

[2018-06-19 11:57] zvr commented on #29
I am interested in this for a new open source project currently being developed under the Google Summer of Code program.
However, some minor modification are going to be needed.

@arasatasaygin would you consider providing a variation (e.g., different colors to match our palette) ?

[2018-06-19 11:59] zvr opened #32 "Clear up licencing"
It is mentioned that "[the] project will have all exclusive rights of the logo".
However, the work is already released under CC-BY-NC-ND 4.0, which contradicts the "exclusive" part.

[2018-06-19 12:08] tombh commented on #8
This seems a perfect fit with https://github.com/tombh/texttop - a text-based browser for people on slow connections. It even uses 8-bit style pixels in the terminal - so the logo is most appropriate. I'm going to be releasing a complete rewrite (and rename to _Browsh_) in the next few weeks. The repo has 3.4k stars.

[2018-06-19 12:13] manekinekko commented on #14
Hi @arasatasaygin I really like your work. I've been looking for a nice logo creation for my app https://xlayers.app. Any chance I can claim this logo? 🙏

![image](https://user-images.githubusercontent.com/1699357/41596522-e0bcd406-73ca-11e8-9733-69fc9d244e0a.png)

[2018-06-19 12:19] moinism commented on #5
I'd like to request this one for BotUI: https://github.com/botui/botui

Its a framework to create conversational UIs.

I liked the `Clique` but that's already gone so this makes sense as the birds and can be interpreted as different parties in the chat/messages.

[2018-06-19 12:19] Cretezy commented on #20
I'd like to claim this logo for my project [Noderize] (https://github.com/Cretezy/Noderize) since the logo is already a hexagon :)

Thank you very much! This is a great initiative!

[2018-06-19 12:19] filipekiss commented on #3
First of all, thank you for this, @arasatasaygin! Open Source design for logos is not something we see everyday and I think that if more designers contributed to open-source we could have software that's beautiful AND free!

That said, I'd like to claim the Gate Keeper logo for my [zshero] project. I'm still working on it, but it's on a usable pre-release already and, since I use it on my personal

[2018-06-19 12:27] leonsegal commented on #17
I am making a pragmatic solution to the packing problem: https://github.com/leonsegal/packman

Please let me have this logo so I won't get sued for copyright. I will probably need to change the name too.

[2018-06-19 12:33] NikolaGavric94 commented on #2
Hello @arasatasaygin and other fellow developers,

I would like to post my claim on this logo here for the currently 2 open source projects under https://github.com/NikolaGavric94 which hardly focus on the different payment gateway implementations for `Laravel` that are not present in the current (Laravel Cashier)[https://github.com/laravel/cashier] project.

I think this logo would fit the curren

[2018-06-19 12:37] sarveswaran-m commented on #3
@arasatasaygin Much appreciate your work and the idea of awarding the logos to open-source projects.

Gatekeeper would make an appropriate log for [blockingMap4j.](https://github.com/sarveswaran-m/blockingMap4j)

**About BlockingMap4j**
Blocking map acts as a key-based synchronizer between producers and consumers in concurrent environment. It is a Map that additionally supports operations that wai

[2018-06-19 12:45] aroberge commented on #10
Hi,

Thank you for this opportunity to claim one of your logos for free!

I have multiple projects in the **Reeborg's World** family and I'd like to claim this logo for one of them - with the hope to eventually add related logos to the other projects in this family.

https://github.com/aroberge/reeborg is a the main project: a Karel-the-robot implementation that can be programmed using either Pyth

[2018-06-19 12:50] esl-douglas commented on #29
I'm interested in this logo for my open source church presentation software, currently named bartimeu.

[Github repository currently in development](https://github.com/dodopok/bartimeu/tree/electron)

[2018-06-19 12:54] just1689 commented on #9
@billniakas Ah man. Who uses an install for Arch?! Such nonsense!

All jokes aside. I think that Archon is probably a much more worthy home for the logo. The logo even reminds me of Arch in some ways.

[2018-06-19 13:01] arasatasaygin commented on #32
Hi @zvr
Actually I put this license to prevent someone taking logos as it has no license for the time being. Is there a way to keep the rights and transfer those to the upcoming owner with a more appropriate license?

[2018-06-19 13:15] neilgupta commented on #6
This is a good logo for https://github.com/neilgupta/Sherlock

Sherlock is a natural language parser for entering events in javascript.

Thanks for the great project, @arasatasaygin!

[2018-06-19 13:28] mvasilkov commented on #25
Hi! This is such a beautiful thing, I love it :)

I'd like to claim the bug-lock for my pet project, https://github.com/mvasilkov/longpaste

Longpaste is an open source Node.js pastebin site with focus on users' privacy. As such it does not rely on third-party login or captcha providers such as Google; we use clever tactics like in-browser PoW to prevent automated posting.

Longpaste can be run se

[2018-06-19 13:34] devxpy commented on #24
Here is my project, ZProc.

https://github.com/pycampers/zproc

Why I think this would be appropriate -
It helps you do multiprocessing, using a global state. Hence the "globe".
The globe being fragmented, represents the multiple processes.

[2018-06-19 13:35] filipekiss commented on #32
@arasatasaygin As fair as I know, you won't be able to use a CC license for the repository. Since you are the author, there's really no need to use a Creative Commons license. Just keep the rights and them, when the owners are chosen, you just allow them to use the given logo. Creative Commons implies anyone can come here and take the logos from the repository and just use them, as far as I unders

[2018-06-19 13:37] 73rhodes commented on #15
I'm sure there are more worthy project but I'll propose `[dclassify](https://github.com/73rhodes/dclassify)` - a simple bayesian binary classifier for node.

[2018-06-19 13:39] pkkid commented on #24
You are both in different business domains, I vote you both get it. :D

[2018-06-19 13:44] devxpy commented on #24
@pkkid wow! https://github.com/pkkid/pygrid

[2018-06-19 14:04] work-dharmendra commented on #25
This project is very good and unique.
I'd like to claim the bug lock for my http://almond-automation.blogspot.com/p/home.html.

Almond Automation is codeless web automation testing tool based on selenium grid.
User can create, run and view testcase without writing any code.
User can easily create and maintain testcases and testsuites and run multiples testcases from single UI.

[2018-06-19 14:05] deedubs commented on #14
I'm building a secure by default Kubernetes distribution called MassiveKube. Its a high security, resilient, batteries included Kubernetes deployment. This logo would work perfectly.

https://github.com/massiveco/massivekube

Thanks for your consideration 😄

[2018-06-19 14:11] blakeembrey commented on #10
This is a really awesome initiative @arasatasaygin!

I'd like to apply the logo to https://github.com/serviejs. Currently I'm using an icon from https://thenounproject.com. ServieJS is an organisation I started working on last year when I started using AWS lambda and have slowly been building up, but have yet to do any full announcement of the project. It's designed to abstract HTTP away from core

[2018-06-19 14:13] jdorfman opened #33 "Sticker Credit"
Hi,

Really happy to see more artist contributing to the OSS community. We (@stickermule) would like to offer a $75 credit to those claim a logo. If interested please feel free to email me `jdorfman-at-stickermule.com`

Thanks.

[2018-06-19 14:17] arasatasaygin commented on #33
Thanks for supporting @jdorfman

[2018-06-19 14:28] nukeop commented on #29
I would like to use this logo for an open source sci-fi themed game I'm developing.

It can be found here: https://github.com/nukeop/tinycrawl-backend

I've worked on the backend for some time, and recently I started developing the frontend part as well. They're being developed simultaneously, bit by bit, to match functionality.

[2018-06-19 14:31] thiamsantos commented on #7
Hi @arasatasaygin, congratulations on the excellent initiative! :tada:

I'm building a key-value in memory database with elixir, with the goals of be fault tolerant and fast. I would like to use this logo to represent the project and be the official mascot of the project. https://github.com/thiamsantos/spike/

[2018-06-19 14:35] jrswab commented on #29
I too would like to use this logo for my free and open-source project called Archivatory. It's a simple web-UI that allows people to easily upload their content to the Interplanetary File System (IPFS).

https://github.com/jrswab/archivatory

### The Problem:
IPFS is quickly becoming the backbone of decentralized content creation with many apps using this protocol to store their users content. Unf

[2018-06-19 14:43] sal2993 commented on #14
Me and a friend are building an archives of top HackerNews posts incase you need to see an old top post and its score/duration-as-top-post.
Would love to have this logo! site: https://hackernews.tech
![screenshot 2018-06-19 08 42 52](https://user-images.githubusercontent.com/9065641/41604577-d2970b0e-739c-11e8-9f2e-85c508bf299d.png)

[2018-06-19 15:07] miere commented on #21
Amazing logo! For an undisclosed reason it transmits me the feeling of someone who is in charge to make something great. Once the world is looking for **serverless** as an approach to scale their applications, thus I think it would be nice fit for [Lambdify](https://github.com/lambdify/lambdify) which intent to make JVM Lambda functions lighter and faster.

Lambdify is on its early stages, we just

[2018-06-19 15:44] austinbillings commented on #24
Not to detract from anyone claiming this logo, and not to discredit the artist, but I figure it's important to note that this is quite similar to the [AT&T Logo](http://www.brandemia.org/sites/default/files/sites/default/files/att_logo_evolucion_historia.jpg) 🤔

[2018-06-19 15:54] karpatic commented on #14
Hi!

Org : Baltimore Neighborhood Indicators Association (Bnia.org)
Project  : Bnia Builder
GitHub : https://github.com/bnia/bniaBuilder
Live Example(s) : Bniajfi.org/bold & Bniajfi.org/greenpatterns/beta
Premise : Allow civic leaders to develop highly dynamic, accessible, real-time distributed GIS data exploration, analysis, recommendations (ML), and visualization PWA's with a simple configuratio

[2018-06-19 16:19] aconrad commented on #19
Hi! I'd like to use this logo for [pycobertura](https://github.com/aconrad/pycobertura), a code coverage diff tool for Cobertura reports.

[2018-06-19 16:38] hello-w0r1d opened #34 "Great work! What tool did you use to create these?"
These look extremely elegant. What's the flow like to generate such logos?

[2018-06-19 17:03] SergioVenicio21 opened #35 "Music"
Project url: github.com/sergiovenicio21/music-player.
This projects is a open source web music player.

[2018-06-19 17:06] NikolaGavric94 commented on #33
Thanks from the community too @jdorfman

[2018-06-19 17:30] arasatasaygin commented on #35
Hi @SergioVenicio21
Your project looks good.
You need to select a logo from readme file or http://openlogos.org/  and claim that specific logo, for your project.
Cheers.

[2018-06-19 17:30] #35 closed

[2018-06-19 17:32] arasatasaygin commented on #34
Hi @hello-w0r1d
I use pen and paper to sketch and Adobe illustrator to vectorize logos. You can watch the legendary Aaron Draplin from https://www.youtube.com/watch?v=zOPA0NaeTBk
I am exactly following same process.
Hope it helps.
Cheers.

[2018-06-19 17:32] #34 closed

[2018-06-19 17:34] raulk commented on #14
I dig the vibrant colours and the line shapes! 😍

I'd love to associate this logo with ethql – a GraphQL interface to Ethereum! (under heavy development)

Check it out here: https://github.com/ConsenSys/ethql

[2018-06-19 17:55] NghiaTranUIT commented on #1
Hello folks, I'd to claim this logo since the cock in the morning is a perfect candidate for my Artify, which is a macOS app to bring 18th art to everyone every morning 😍.

I fall in love immediately when I see this logo. The cock and the beautiful color of the background represent what Artify does.

Check it out https://github.com/NghiaTranUIT/artify-macos 🌎

[2018-06-19 18:03] arasatasaygin commented on #30
Cachet looks impressive @jbrooksuk
Thanks for considering this logo for your project.

[2018-06-19 18:09] jdorfman commented on #33
@NikolaGavric94 you're welcome. This project made gave me some nostalgia. Back in 2003, I had an idea called "Open Source Art" but I had no idea how I would get it off the ground. In the end, all I had was a logo (wish I could find it). This is 5 years before GitHub was born so contributing to Open Source in any way (code, art, etc) was a huge barrier, to say the least.

When I see @arasatasaygin

[2018-06-19 18:20] arasatasaygin commented on #7
Cool project @thiamsantos

[2018-06-19 18:52] jbrooksuk commented on #30
Thank you @arasatasaygin 😌

[2018-06-19 19:09] SpaceK33z commented on #25
Hi, this logo is awesome!

I'd like to claim the bug-lock for my project, https://github.com/Volst/prisma-auth/

Prisma Auth makes dealing with authentication easy for Prisma, which is sort of an ORM specifically designed for use in GraphQL. It will soon be refactored to be more generic (it's Prisma-specific now, but will be only GraphQL specific soon) so it will attract a broader audience. I thin

[2018-06-19 19:35] OKNoah commented on #14
My project is currently called [Final](https://gitlab.com/NoahGray/final); it's maybe best described as "React for the web server". If supports HTTP and WebSockets but handles it all with a "Component" with React-like lifecycle events. All data modelling is done similar to using "PropTypes" but with Flow instead. So it's kind of a Modal/Controller in one, where you can add functionality via decora

[2018-06-19 19:40] OKNoah commented on #20
My project is currently called [Final](https://gitlab.com/NoahGray/final); it's maybe best described as "React for the web server". If supports HTTP and WebSockets but handles it all with a "Component" with React-like lifecycle events. All data modelling is done similar to using "PropTypes" but with Flow instead. So it's kind of a Modal/Controller in one, where you can add functionality via decora

[2018-06-19 19:45] Tophat commented on #16
This looks like a perfect logo for Tophat!

I've built a collection of open-source (MIT) themes to stylize your Bootstrap projects:

https://github.com/Tophat/themes

[2018-06-19 20:22] Cryptophobia commented on #7
Hi @arasatasaygin ,

Awesome initiative! I am one of the maintainers for the open source fork of Deis Workflow, called Team Hephy. Our project is a PaaS built on top of Kubernetes. We are current merging new features, working on documentation website, and the first release of the fork. This logo fits well with our color scheme on the current website, and we would like to try to get this one.

Our

[2018-06-19 20:39] jhpratt commented on #18
[r/Spacex Mission Control](https://github.com/r-spacex/mission-control) is a web-based application to host launch threads on r/SpaceX. Currently, its usage is relatively limited, but I am currently working on a bottom-up rewrite that will provide a combined interface with live updates, push notifications, and integrated streaming (potentially chat as well). It will have everything people will want

[2018-06-19 20:43] jhpratt commented on #29
[r/Spacex Mission Control](https://github.com/r-spacex/mission-control) is a web-based application to host launch threads on r/SpaceX. Currently, its usage is relatively limited, but I am currently working on a bottom-up rewrite that will provide a combined interface with live updates, push notifications, and integrated streaming (potentially chat as well). It will have everything people will want

[2018-06-19 21:31] christhekeele commented on #18
Hey there! :wave:

[Mnemonix](https://github.com/christhekeele/mnemonix) is an open-source interface to key-value stores for the BEAM VM. It allows Elixir and erlang programmers to write the same code everywhere, while changing the underlying backend through configuration. It's intended for for developers who have different memory needs in different environments (in-memory in dev/test, redis in pr

[2018-06-19 22:14] jwu910 commented on #33
@jdorfman This is awesome! :+1:

[2018-06-19 23:11] malikolivier commented on #29
I am interested to claim this logo for an ongoing free software project I and some friends are developing: [aflak](https://github.com/aflak-vis/aflak).

This is a astronomical dataset visualization/analysis platform, providing an node editor-like visual programming interface with real-time feedback.

The project is still fairly young and under developments (far from being completely usable as of n

[2018-06-20 01:56] dafei1288 commented on #3
Hey @arasatasaygin so great of you to do so .  And I believe that you can help many developers .

May I claim this logo for my [Max](https://github.com/dafei1288/max) !

**About max**
The name is from《Two Broke Girls》. One of the heroines , Max .
Her goal is to help junior developers use lambda in Java.  And she also contains powerful computing functions.

Thank you so much.

[2018-06-20 04:33] rspeed commented on #24
Seconding @austinbillings. I'm not a lawyer, but it's similar enough that I'd be worried about a trademark suit.

[2018-06-20 05:09] joereynolds commented on #28
The seems like a pretty apt fit for [Mort](https://github.com/joereynolds/mort), my tool for detecting dead css ! It *inspects* (nudge nudge wink wink, inspector) your CSS and reports back with any possible dead selectors.

[2018-06-20 06:30] mirimmad commented on #14
Hello there, I am a high schooler. I have been implementing a programming language since last 6-7 months. This logo would be perfect for my PL.

[2018-06-20 06:35] DanielMSchmidt commented on #9
I am developing react-native-sensors, a library to empower React Native developers to use the sensors of  the mobile device their application runs on. Imho the logo would just fit perfectly 🙈

[2018-06-20 07:00] OKNoah commented on #14
@mirimmad Awesome to hear someone like yourself is making a programming language! But this is for open source projects, and unless your project has source code that includes and open source license, it doesn't qualify-- but simply upload your code and include an open source license and you're eligible! Plus how an I vote for you if I can't see the project? Looking forward to it, and good luck.

[2018-06-20 07:46] OKNoah commented on #33
@jdorfman I didn't settle on a job with StickerMule after applying, but they thanked me for applying with some free credit! They seem pretty nice. But I'm gonna direct you to here too: https://www.patreon.com/arasatasaygin

More free sticker design makers = more sticker demand, if I remember sticker economics correctly.

[2018-06-20 07:49] mirimmad commented on #14
@OKNoah Noah! The project will be open sourced within 1.5 months.
It's Okay if you give away the logo to someone else for now. I can ping you later on Twitter when the project is open sourced so that you can have a look.
Maybe you could provide me the same logo then with some minor edits.

[2018-06-20 09:10] Nuttymoon commented on #2
Hi everyone!
I would like to claim "mr jumbo" logo for my project which is actually called... **[Jumbo](https://github.com/adaltas/jumbo)**!
Jumbo is a CLI tool written in Python that allows to quickly deploy virtualized Hadoop clusters locally. We developed it with a friend during our internship.

I think the logo is a great match with Jumbo for these reasons:
- It looks fun and friendly, as I ho

[2018-06-20 16:21] harababurel commented on #17
I would like to claim this logo for GCSF, the subject of my bachelor's thesis.

GCSF is a virtual file system built on top of Google Drive. It is implemented in Rust and aims to provide efficiency and stability. I think this logo is a good match for the project.

You can try it out by following the instructions found on [github.com/harababurel/gcsf](https://github.com/harababurel/gcsf). Keep in mi

[2018-06-20 16:26] JohnnyQPubic commented on #19
I would like to use this logo for my Child Rape Awareness t-shirt I am working on.

[2018-06-20 16:47] ldidry commented on #16
I have an URL shortening software called [Lstu](https://lstu.fr) (Let's Shorten That Url) that have a bowler hat as logo but this one would be a major improvment!

My project's repo: https://framagit.org/luc/lstu/

My current logo:
![Logo of Lstu](https://lstu.fr/img/lstu.png)

[2018-06-20 18:59] imolorhe commented on #14
Hey! This would be a nice logo for altair! https://github.com/imolorhe/altair

It is a graphQL client/IDE. Slowly gaining traction too. This would be a nice start of a makeover. 😊
![Altair GraphQL Client](https://github.com/imolorhe/altair/raw/staging/src/assets/img/readme/app-shot.jpg)

[2018-06-20 21:37] Jasius commented on #12
I'd love this for theme that I made for reddit platftorm https://github.com/Jasius/Windows-theme  https://clearshift.jaska.co/

[2018-06-20 21:53] dreamingechoes commented on #13
Hi @arasatasaygin!

First of all, thank you for this initiative, it's awesome! 😄

I'd like to request this logo for a project I'm working on and I plan to finish and publish to production this summer: [Diversity In Tech](https://github.com/dreamingechoes/diversity-in-tech). It's an application made with Phoenix Framework to rate tech companies according to how diverse friendly they are.

It will b

[2018-06-20 22:11] DandyDev commented on #14
@manekinekko it says in the readme of openlogos that these logos are meant for open source projects, but I can't seem to find the repo for xLayers anywhere. Am I missing something here?

[2018-06-21 00:05] kilroyc6 commented on #21
This mine strong I have no fear like a viking

[2018-06-21 00:56] pie6k commented on #22
Hello!

I'd like to claim this logo for [**typegql**](https://github.com/prismake/typegql) - project allowing you to **create GraphQL schema with TypeScript classes.**. Goal of this project is to take advantage of typed js language to auto-create graphql schema which is also strongly typed solution. It allows having only single source of truth for both schema shape and resolved values.

To have wo

[2018-06-21 05:18] 8hantanu opened #36 "im-possible minor flaw"
I must say a great initiative :metal: and pretty logos :heart_eyes: .

There is a tiny extra line segment in the logo im-possible, unless it was on purpose.
![ol1](https://user-images.githubusercontent.com/19494743/41698953-e010d50a-753e-11e8-9d75-77955d4b621c.jpg)
Without that segment, it forms a **penrose triangle**. It should look something like this.
![ol2](https://user-images.githubuserconten

[2018-06-21 05:36] arasatasaygin commented on #36
:) Hey @8hantanu
I liked your version as well. Actually I tried to make it as chaotic as possible.
I'm planning to include new designers on the upcoming batch. If you are interested, feel free to contact me.

[2018-06-21 05:36] #36 closed

[2018-06-21 07:10] wkoszek commented on #28
First of all: excellent idea to promote your design. Your logos look great.

2 days and no takers for this logo? Come on GitHub people!

It's clear: this shady guy would be perfect for my https://github.com/wkoszek/lastpass-ssh
What better logo can there be for a tool which you give an access to your LastPass and SSH keys than a shady guy?

It's a little tool, but people seem to like it. I'd only

[2018-06-21 08:30] maciossek commented on #30
Hello there!

we do have an open source project: It's about gathering dog turds, via react-native (Android and iOS) and web. We are currently still in beta, because we lack a logo! So we kinda need App Icons and Map markers for dog turds:  http://turds.dog/

Would it be possible for you to come up with nice matching turd marker for a Maps application?

Here are our repos: https://github.com/thr33t

[2018-06-21 09:55] Pierre-Sassoulas commented on #15
Hi,

Great idea and very nice logos :)

I'd like to claim this logo for [django-survey-and-report](https://github.com/Pierre-Sassoulas/django-survey). This is an app to create survey with the django framework. A little like "lime survey" but for developpers that already have a python/django project/server up and running and do not want to go full LAMP just for a survey.

I like the fact that the o

[2018-06-21 10:29] zbeboy opened #37 "The project ISY"
Hello,
        Firstly, I'm very happy about your project openlogos. Because I hope have a logo for my project [ISY](https://github.com/zbeboy/ISY). This project was maked for our school，help teachers and students to learn and better life. Can you design a logo for ISY?  I'll be thank you very much. Of course, welcome to websit [ISY](https://www.zbeboy.top/). Thanks.

[2018-06-21 10:33] arasatasaygin commented on #37
Hi @zbeboy
ISY looks good.
You need to select a logo from readme file or http://openlogos.org/ and claim that specific logo, for your project.
Cheers.

[2018-06-21 10:33] #37 closed

[2018-06-21 11:45] ElPresidentePoole commented on #19
THAT'S A BAD ONE JOHNNY

[2018-06-21 12:59] m-henderson commented on #36
@arasatasaygin what software do you use to create the logos?

[2018-06-21 13:07] Vtrois commented on #17
First of all, thanks to the author, this is a great project :+1:

I'm worried about designing logo for my project, this project is really too timely. My project name is SpacePack ( github.com/Vtrois/SpacePack ), It is the necessary toolbox for the Operations Engineer.

It's a pity that the project is being made, but it will be released.

Thank you for your project!

[2018-06-21 13:42] jcelerier commented on #24
funny, my first though was the old [Sierra logo](https://www.google.fr/search?q=sierra+logo&tbm=isch)

[2018-06-21 14:03] johnrengelman commented on #28
This is a great idea!

I’d like to nominate the Gradle Shadow plugin: https://github.com/johnrengelman/shadow
Shadow is a Gradle plugin that creates a single “fat” JAR of an application and is one of the more widely downloaded plugins (over 3 million downloads in the last year)

It was originally a port of Maven’s Shade plugin: https://maven.apache.org/plugins/maven-shade-plugin/

Shadow already p

[2018-06-21 14:43] m-henderson commented on #36
@arasatasaygin do you think we could build a better platform for you to do what you are doing? I am good at building web applications and would not mind hosting, building, and open sourcing it. Maybe a website where logos can be voted upon for certain open source projects. Your thoughts?

[2018-06-21 16:12] m-henderson opened #38 "Web Application For Open Logos"
do you think that there is a better way to vote and declare logos than using the GitHub website? If you think we could build a website for this, let me know. I will start the project, maintain the project, buy a domain, and pay for hosting.

What do you all think?

[2018-06-21 16:53] crnbrdrck commented on #12
Hi there! Might I just start off by saying that this is an amazing project!

I recently started work on a browser extension called [github-user-languages](https://github.com/crnbrdrck/github-user-languages)!

It's a simple little tool that when installed displays a nice little pie chart of all a user's languages that they have for their repos on GitHub, and you can click the individual languages t

[2018-06-21 16:58] johnrengelman commented on #33
Awesome contribution @jdorfman

[2018-06-21 17:52] arasatasaygin commented on #38
Hi @m-henderson
Thanks for the offer. Actually I'm planning to build it myself.

This is the plan:
- First of all, I'll focus on this very first batch of logos and distribution as it is the main premise of project. I'll give support on using these logos with proper type, guidelines and other promotional usage for projects.
- On the second batch, I'll try to include new designers, if there is enoug

[2018-06-21 17:58] arasatasaygin commented on #1
@michaelmior epic series. Never realized but honestly it can be the influence :)
@NghiaTranUIT Artify look classy. Good luck.

[2018-06-21 18:09] arasatasaygin commented on #2
Hey everyone many thanks for the kind words.
@NikolaGavric94 your projects look great.
@schmidyy it's great that you choose to commit on OS, cheers.
@Nuttymoon I really liked your project and what a great coincidence on the name :)

[2018-06-21 18:23] arasatasaygin commented on #4
Hello @claudiodangelis
Anything that keeps me on my terminal and chair is awesome :) Thanks for claiming.

[2018-06-21 18:34] arasatasaygin commented on #5
Hey, many thanks for your kind words.

@DrRoach None of us have enough time to work on our projects I guess. It took me months to release this one. NetworkAPI looks good btw.
@moinism  Liked botui. I actually needed something like this, thanks. You can claim clique if you want, it is still there.

[2018-06-21 18:41] arasatasaygin commented on #6
Hello @neilgupta
I tried a couple of text with Sherlock and it is pretty accurate 👍 Thanks for claiming.

[2018-06-21 18:44] arasatasaygin commented on #7
Hey @Cryptophobia
Thanks for claiming. Good luck.

[2018-06-21 18:49] arasatasaygin commented on #8
@tombh where have you been while I was traveling SE Asia. Good job on texttop. I'll definitely use it on my upcoming travels. Also speedy is a great match with texttop.

[2018-06-21 19:09] arasatasaygin commented on #9
Hello everyone, many thanks for the kind words.

@just1689 would love to play the game when it is up.
░░░░░░██ ]▄▄▄▄▄▄▄▄▃
▂▄▅██████▅▄▃▂
◥⊙▲⊙▲⊙▲⊙▲⊙▲⊙▲⊙◤

@billniakas thanks for claiming. Cheers.

[2018-06-21 19:14] arasatasaygin commented on #10
Both reeborg and serviejs looks great. Thanks for claiming @blakeembrey @aroberge

[2018-06-21 19:31] sirkadirov commented on #14
Hi! My name is Yurij Kadirov and I'm developing programming contests management system with additional functionality called "SimplePM".

SimplePM is useful for schools and unoversities, where students learn programming. Also, you can use system on programming contests like ACM ICPC and IOI.

At this moment, project is being used by 2 schools in Ukraine, what is good for 2-year project.

Website: h

[2018-06-21 19:33] sirkadirov commented on #20
Hi! My name is Yurij Kadirov and I'm developing programming contests management system with additional functionality called "SimplePM".

SimplePM is useful for schools and universities, where students learn programming. Also, you can use system on programming contests like ACM ICPC and IOI.

At this moment, project is being used by 2 schools in Ukraine, what is good for 2-year project.

Website: h

[2018-06-21 21:46] garrettw opened #39 ""Active""
How will you be distinguishing "active" projects?

[2018-06-21 21:47] philss commented on #21
This logo looks awesome, and is very aligned with the idea behind the name of [Floki](https://github.com/philss/floki), which is a HTML parser written in [Elixir](https://elixir-lang.org/), on top of mochiweb & html5ever.

The name Floki is inspired by the history of the viking [Hrafna-Flóki Vilgerðarson](https://en.wikipedia.org/wiki/Hrafna-Fl%C3%B3ki_Vilger%C3%B0arson), which sailed to Iceland i

[2018-06-21 23:18] Mineirovsky commented on #26
**[divboy](https://github.com/Mineirovsky/divboy)** is a step sequencer for Gameboy Advance in early development, I'd like to have this logo for it.
Thanks

[2018-06-22 02:39] NghiaTranUIT commented on #1
Thank you @arasatasaygin your contribution.
Hope I will get it 👍

[2018-06-22 03:03] Anymake commented on #22
i love this logo

[2018-06-22 04:31] learnbyexample commented on #20
@arasatasaygin, Nice initiative! thanks for doing this

I'd like to claim this logo for my example based [Command Line Text Processing](https://github.com/learnbyexample/Command-line-text-processing) book

The project introduces various cli tools like grep, sed, awk, perl, ruby, sort, pr, paste, etc with plenty of examples. I've been working on it for more than a year and has over 7k stars. Seeing

[2018-06-22 05:30] #39 closed

[2018-06-22 05:32] arasatasaygin commented on #11
Hello @hattan
Thanks for claiming. Kairo looks great. Cheers.

[2018-06-22 05:37] arasatasaygin commented on #12
Hello everyone and thanks for kind words.
@Jasius thanks for building this. Reddit is an incredible community.
@crnbrdrck loved your project. Cheers.

[2018-06-22 05:43] arasatasaygin commented on #13
Thanks for kind words and building this @dreamingechoes Cheers.

[2018-06-22 06:17] arasatasaygin commented on #15
Hey, thank for kind words.
Both dclassify and django-survey-and-report projects look great. Thanks for claiming. Cheers.

[2018-06-22 06:20] arasatasaygin commented on #16
Hello, thanks for claiming.
Both of your project look like a great fit. Cheers @Tophat @ldidry

[2018-06-22 06:35] arasatasaygin commented on #18
Hello everyone, great projects. Thanks for claiming this logo.
@DrRoach we are using small_light at work but I'm not sure if your project is 100% similar. Good work.
@sid77 name/logo fit 👍
@jhpratt very exciting project. Every time I watch a launch, it gives me goosebumps.
@christhekeele good luck with v1.0.0.
Cheers.

[2018-06-22 06:38] arasatasaygin commented on #19
Hey, thanks for claiming this logo @aconrad
pycobertura looks great. Cheers.

[2018-06-22 07:00] christhekeele commented on #11
Hey @hattan!

While the colors here are Slack-esque, have you thought about the [flame](https://github.com/arasatasaygin/openlogos/issues/9) logo? It seems a good fit with the name Kairo (re: capital of Egypt, home of the pyramids, Cairo).

[2018-06-22 07:05] arasatasaygin commented on #20
Hello everyone,

@amitmerchant1990 I like what you are doing with markdownify.
@Cretezy great documentation on Noderize. I'll try to build some small projects with it.
@OKNoah thanks for claiming. Final looks good.
@sirkadirov hope you the best with simplePM Yuri
@learnbyexample thanks for making this open source sir.

Thanks for the kind words.
Cheers

[2018-06-22 07:11] arasatasaygin commented on #21
Hello everyone, thanks for kind words and support.

@miere I would love to see you progress on this project. Great potential.
@kilroyc6   ^<(◣_◢)>^
@philss Floki.find(html, "p.thanksForClaimingThisLogo")

Cheers

[2018-06-22 07:14] arasatasaygin commented on #22
Thanks for your kind words and claiming this logo everyone.

[2018-06-22 07:22] arasatasaygin commented on #25
Hello everone.
@mvasilkov Headline of your project is catchy :) The opposite of a shortcut.
@work-dharmendra Can you please share repo, I couldn't find it. Thanks for supporting.
@SpaceK33z GraphQL is my next shiny thing syndrome for sure. Thanks for claiming this logo and good work on prisma-auth

[2018-06-22 07:23] arasatasaygin commented on #26
Thanks for claiming this logo @Mineirovsky divboy looks great. Cheers.

[2018-06-22 07:28] arasatasaygin commented on #27
Hello everyone, thanks for supporting and all kind words.

@avenirer nice work on Tusker.
@BTaskaya wow! (Gurur duydum)

Cheers.

[2018-06-22 07:30] arasatasaygin commented on #28
Hello and thanks for all kind words.
Loved both lastpass-ssh and shadow. Thanks for claiming this logo for your projects @wkoszek @johnrengelman

Cheers.

[2018-06-22 07:33] arasatasaygin commented on #30
Best turds application ever @maciossek :) Thanks for claiming.
I'll try to help winning projects as much as I can, so yes if you get this logo you will get the turd marker. Cheers.

[2018-06-22 07:44] arpandesai commented on #26
Is it already claimed?

[2018-06-22 07:46] arasatasaygin commented on #26
@arpandesai you can claim it as well.

Every logo has one github issue that you can introduce your project to and claim.
Community can upvote your comment and you can upvote other projects as well under these issues.
Starting from 1st of July, I will give one logo per day until the end of month according to these upvotes.

[2018-06-22 07:49] arasatasaygin commented on #36
Hey @m-henderson
Thanks for offer. Answered in https://github.com/arasatasaygin/openlogos/issues/38
Cheers

[2018-06-22 12:21] arasatasaygin commented on #33
Added sticker mule offer to README. Thanks @jdorfman

[2018-06-22 14:29] tombh commented on #8
I'm in China at the moment, in a city called Kunming, not that far from Thailand and Vietnam. But I've also spent a lot of time on Java in Indonesia.

Thanks for the support and thanks for your project :) I'm looking forward to befriending Speedy :D

[2018-06-22 14:45] tombh commented on #8
Oh BTW, so do you think this logo will be given out on the 8th of July, because it's the #8 issue?

[2018-06-22 17:24] DrRoach commented on #18
@arasatasaygin what small_light library is it that you use? Would be interested to take a look 😄 I'm yet to find a project yet that can be thrown onto a webserver and left to it's own devices (the whole DynamicImage aims to fill) but thank you I appreciate the comments 👍

[2018-06-22 17:25] DrRoach commented on #5
@arasatasaygin Thank you, appreciate it 👊

[2018-06-22 18:28] WorldMaker commented on #16
That's not a top hat, that's a bowler or derby.

[2018-06-22 18:50] Tophat commented on #16
@WorldMaker - true, which is why we may alter it if we get the claim for Charlie.

[2018-06-22 18:50] adamculpepper commented on #27
@avenirer Rhinoceros don't have tusk, they have horns. ;)

[2018-06-22 20:08] qurbanullah opened #41 "Logo for Open Source Avouch Linux Operation System"
I have developed my own operating system distribution based on Linux kernel from scratch.
I am not good in logo design.
I wanted a logo for my Operating System and website https://avouch.org.
I am unable to decide which logo should be best suited?

The feature of Operating Systems are:-
Secure
Reliable
User friendly

[2018-06-22 21:00] arasatasaygin commented on #41
Hello @qurbanullah
Your project looks great.
You need to select a logo from readme file or http://openlogos.org/ and claim that specific logo, for your project. If you think there is no suitable logo in this batch you can wait for upcoming logos.
Cheers.

[2018-06-22 21:00] #41 closed

[2018-06-22 21:08] arasatasaygin commented on #18
@DrRoach https://github.com/cubicdaiya/ngx_small_light is the module we are using for nginx.

[2018-06-22 21:46] gappleto97 commented on #22
Hi!

I would like to claim this logo for the p2p.today project. It aims to create an easy, language-independent API for people to use for peer-to-peer networking, as an essentially drop-in replacement for things like socket.io.  It currently has an beta version available in Python and Javascript, with parsing support in C, C++, Java, and Golang (those last two being somewhat incomplete). That vers

[2018-06-23 03:14] tombh commented on #8
I see, thanks. I was just wondering about maybe planning to release Browsh the same day I might be lucky enough to get this logo. But it might be a rush anyway.

[2018-06-23 05:10] betsythefc commented on #30
Hello! I have a project called JiraDog that needs a logo! JiraDog takes information from Jira's (a ticketing system) API, does some math like finding averages and pushes the results to DataDog, a metric tracking service. I'd love this logo for the project! https://github.com/betsythefc/jiradog

[2018-06-23 15:57] cemremengu commented on #27
@BTaskaya looks like we have genius here, keep it up! 🙏

[2018-06-23 16:49] BTaskaya commented on #27
@cemremengu thx.

[2018-06-23 19:06] gautamkrishnar commented on #9
@arasatasaygin Hi I would like to use this logo for one of my open source project Nothing private (https://github.com/gautamkrishnar/nothing-private).

## Intro
Do you think you are safe using private browsing or incognito mode?. 😄 👿 This will prove that you're wrong. https://www.nothingprivate.ml

## About Nothing Private
This project is a proof of concept that any website can id entify and track

[2018-06-24 00:53] kdrag0n commented on #18
Hello!

I'd like to claim this logo for my Android device kernels under the name of Velocity Kernel. My kernels improve the performance and battery life of devices. So far, I have made Velocity for two devices (one is a collaboration). Links:

- [S8 XDA](https://forum.xda-developers.com/galaxy-s8/samsung-galaxy-s8--s8-cross-device-development/kernel-s8-linaro-velocity-kernel-r1-t3801924)
- [S8 Git

[2018-06-24 01:38] fxfactorial commented on #20
Hello,

I run https://yerevancoder.com/ which is the only community public open source tech project in Armenia, https://github.com/yerevancoder/yerevancoder.github.io

We need some kind of logo and this logo in particular is similar enough to an Ancient Armenian symbol of eternity as well, հավերժության նշան,

https://en.wikipedia.org/wiki/Armenian_eternity_sign

![](https://en.wikipedia.org/wiki/A

[2018-06-24 10:15] rivetchip commented on #7
Hey @arasatasaygin , Wow, I find those rather cute, ahah! Nice idea  :smile: . I hope more designer will join.

I'm currently building a simple Movie collection app for Linux/Windows & Android ( using Electron and Android Webview ). As the title say, you'll be able to manage your favorites movies. Search and import from TMDb is also possible.

I wanted a nice GCStar alternative for Linux for mysel

[2018-06-24 11:14] rivetchip commented on #8
Speedy the snail, thats brilliant :smile:

@tombh I think thats a perfect match too !

[2018-06-24 21:52] kureikain commented on #14
Hi,

My name is Vinh. I build this https://noty.im

The project is 100% open source so one can self-hosted themselves:

- https://github.com/notyim/trinity
- https://github.com/notyim/gaia

It's an uptime monitoring tools but I want to add more feature on different kind of monitoring given I have the notification layer and the scanner build out.

Thank you.

[2018-06-25 10:17] hobbypunk90 commented on #15
Hey,

your logos are great 😊 and i really love this idea 🙂

A friend and me started our project [Guardian of Times](https://github.com/LiScI-Lab/Guardian-of-Times) as a replacement for time tracking with sheets at our university. It is a little Ruby on Rails application where users can create or join teams to group, track and tag their working times.

The reason why we would like to claim "sage" i

[2018-06-25 12:34] occupant23 commented on #14
rechecked, works for one argument, but doesn't for more. please fix

[2018-06-25 13:28] alex-ppg commented on #14
Hello everyone,

We are creating a fully open-source decentralised wallet for cryptocurrencies that will also host a peer-to-peer exchange in the future.

We believe the logo is ideal for the project due to its similarity with a block.

You can find the live version of the wallet (Without any form of tracking, not even a Google tag) on https://wallet.arctus.io/.

Alternatively, feel free to visit

[2018-06-26 21:58] crnbrdrck commented on #12
Hey @arasatasaygin, I'm just going to let you know here that a user has actually opened an issue on my project asking to contribute a logo he designed specifically for it so in the interest of fairness I would like to withdraw my claim for this logo and leave it available for another deserving project to receive it instead.

Thank you again for this amazing initiative, and if you ever need help wi

[2018-06-27 07:05] Spomky commented on #27
Hi,

For [my project](https://github.com/web-token), this logo will be awesome compared to the actual one.

This project is a complete framework for Json Web Token (JWT) management for PHP.
It covers all approved IETF specifications and supports dozen of signature and encryption algorithms, compression methods and all serialization methods. And if it is not enough, you can easily extend its capabi

[2018-06-27 09:43] codeSamuraii commented on #25
Hello, this is really nice work. 👍

I'm candidating for this logo with my project [CryptoTCP](https://github.com/codeSamuraii/CryptoTCP).
It is a Python module that allows you to easily implement a secure communication tunnel with hybrid (RSA + AES) encryption. It is still in early stages of development, but a new version will come out soon.
The lock refers nicely to both the name and the purpose

[2018-06-27 12:44] garrettw commented on #17
This is already the logo of [Kalabox](https://www.kalabox.io/).

[2018-06-27 17:37] Nelson-numerical-software commented on #15
Hi,
This logo could be great to represent Nelson
https://nelson-numerical-software.github.io/nelson-website/

Nelson is an array programming language providing a powerful open computing environment for engineering and scientific applications using modern C/C++ libraries (Boost, Eigen, …) and others state of art numerical libraries.

It has sophisticated data structures (including cell, struct, lin

[2018-06-27 21:18] vchrombie commented on #10
Hi @arasatasaygin
I would like to claim this logo for one of my projects, https://github.com/vchrombie/scorpion-hut.github.io

I am actually building this website for my friend's robot, _paripreksya_, which is a multi-terrain rescue robot. The site is under construction and I am looking for a nice logo and happened to your repository. The clique logo suits this project as it is a robot information

[2018-06-27 21:35] rpellerin commented on #25
Great logo! Perfectly suited to my project, [Gauth2](https://github.com/rpellerin/gauth2/).

Initially a forked project, it has been completely rewritten in React and Redux, with added features. **It's a web app that allows users to generate one time passwords (OTP)**, just like Google Authenticator does. Users can either paste images containing a QR code, or fill in the secret string, when enabli

[2018-06-27 21:44] ThomasLARA commented on #9
I am a dreamer...
And i am dreaming that i am creating an awesome puzzle/mind game...

**I would like to use this logo for my dream** : this game.

**Paradigm**
[Presentation](https://media.giphy.com/media/2YsaUK4127mQO0Fe0E/giphy.gif)

This is a web game of exploration and puzzles, inspired by Portal & Antichamber, for those who love computing.

To try the level zero : [theirparadigm.com](https:/

[2018-06-27 21:46] Dharmendra-Chouhan-mpf commented on #25
@arasatasaygin : my github repo is at https://github.com/work-dharmendra/almond-automation.

[2018-06-28 12:40] taomylife521 opened #42 "SoulCoder"

[2018-06-28 13:52] vkmc opened #43 "LinuxChix Argentina"
Hi!

We are an open source community that aims to connect underrepresented people in open source and encourage more people to join us. We have a logo already, but we would like to simplify it. Would you be able to help us? Thanks for doing this!

Cheers,

Victoria

[2018-06-29 04:05] ThatCynicalX commented on #22
I would like to claim this logo for [netclix](github.com/ston3o/netclix). It aims to use the VodLocker API to easily and effectively search for movies.

This, in my opinion, is a very nice logo because it has a very nice depth effect to it, and displays togetherness and inter-connectivity.

[2018-06-29 08:35] BhautikChudasama commented on #5
I want to this for my chat web app.

[2018-06-29 10:04] arasatasaygin commented on #42
Hi @taomylife521
In case you want to claim any logo for your project:
You need to select a logo from readme file or http://openlogos.org/ and claim that specific logo.
Cheers.

[2018-06-29 10:04] #42 closed

[2018-06-29 10:07] arasatasaygin commented on #43
Hi @vkmc
Thanks for your initiative. For the time being I'm trying to focus on open source projects.
If your community has any open source projects, feel free to select a logo from readme file or http://openlogos.org/ and claim that specific logo, for your project.
Cheers.

[2018-06-29 10:07] #43 closed

[2018-06-29 10:09] arasatasaygin commented on #43
BTW your illustration on homepage is kickass @vkmc

[2018-06-29 13:12] garrettw commented on #5
@BhautikChudasama you have to provide a link to your open-source project

[2018-07-01 13:12] Zimmi48 commented on #1
Hi, I'd like to claim this logo for coq-community (https://github.com/coq-community). [Coq](https://coq.inria.fr) is a proof assistant and programming language with dependent types and coq-community is a project for the collaborative long-term maintenance of Coq packages and their advertisement (for more details, see https://github.com/coq-community/manifesto). Thanks!

[2018-07-02 04:11] christhekeele commented on #1
Awesome to see venerable projects like coq on here!

[2018-07-02 13:53] garrettw commented on #26
I wouldn't mind using this for the IRC bot library I'm developing, called [Pierce](https://github.com/garrettw/pierce). Part of my idea behind the name has to do with my library competing with [Phergie](https://www.phergie.org/) -- they're both object-oriented PHP libraries, but mine is a male name to contrast with the other's female name.
(I know I haven't made a commit in a while, but that's bec

[2018-07-02 17:32] arasatasaygin commented on #28
<img src="https://openlogos.org/logos/inspector-guide.jpg">

Congrats @johnrengelman 🥇

Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts and sticker mule voucher.

Thanks again everyone for claiming and supporting.
Cheers

~ Aras

[2018-07-02 17:32] #28 closed

[2018-07-03 18:56] arasatasaygin commented on #8
<img src="https://openlogos.org/logos/speedy-guide.jpg">

Congrats @tombh  🥇

Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts and sticker mule voucher.

Cheers

~ Aras

[2018-07-03 18:56] #8 closed

[2018-07-03 19:01] garrettw commented on #8
Love that heading font!

[2018-07-03 19:13] #38 closed

[2018-07-03 20:44] onokumus commented on #14
Merhaba @arasatasaygin

Bu logo https://github.com/onokumus/metismenu projesine çok yakışır diye düşünüyorum.

Başarılar.

[2018-07-04 09:15] tombh commented on #8
Thank you so much! I'm so happy :)

[2018-07-04 12:57] arasatasaygin commented on #8
🔥🔥

[2018-07-05 16:12] arasatasaygin commented on #1
<img src="https://openlogos.org/logos/morning-guide.jpg?v=2">

Congrats @Zimmi48 🐓

Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts and sticker mule voucher.

Thanks again everyone for claiming and supporting.
Cheers

~ Aras

[2018-07-05 16:12] #1 closed

[2018-07-06 09:21] DrRoach commented on #18
@arasatasaygin Thanks for the link. There's certainly a lot more functionality baked into that project, hopefully I'll get some of the features that they have working in Dynamic Image over the weekend 🤞 The main difference with that project though is that it's an ngix module. Dynamic Image is a simple PHP library that can be hosted on any server and then used to serve images on the fly. I like the

[2018-07-10 14:17] garrettw commented on #8
@tombh just wanted to let you know -- I was pleasantly surprised to run across Browsh organically in yesterday's issue of Codrops. I saw the logo and thought to myself, "Wow, someone stole the Texttop logo!" -- not knowing the project had been renamed. :smile:

[2018-07-10 18:41] arasatasaygin commented on #30
<img src="https://openlogos.org/logos/watch-bob-guide.jpg">

Congrats @jbrooksuk  🐶
Cachet already had a good foundation. I tried to mash current palette and watch-bob. Resource file will have the original version as well.

Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts and sticker mule voucher.

Thanks again everyone for claiming and supp

[2018-07-10 18:41] #30 closed

[2018-07-11 00:01] tombh commented on #8
Thanks @garrettw I'm very pleased you made the connection, the logo is clearly doing its job of sticking in people's memories :D

[2018-07-11 12:07] vkmc commented on #43
Hi @arasatasaygin thanks for the quick reply. Sorry, I misunderstood the process. If we get to work on an open source project ourselves, I'll make sure to apply for one of your logos, they are awesome!

The Robotux illustration is very cool yes, we owe this to a great designer. Still, we need to simplify it. We will start looking for designers to make this happen.

Thanks again!

[2018-07-11 13:51] garrettw commented on #8
Honestly I would probably recognize most of the logos here just because I've been watching the repo closely.

[2018-07-11 23:06] arasatasaygin commented on #27
<img src="https://openlogos.org/logos/rayray-guide.jpg">

Congrats @BTaskaya  🦏
Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts and sticker mule voucher.

Thanks again everyone for claiming and supporting.
Cheers

~ Aras

[2018-07-11 23:06] #27 closed

[2018-07-12 16:46] jbrooksuk commented on #30
Thanks @arasatasaygin!

[2018-07-13 03:58] bbabkin commented on #16
![tophat](https://user-images.githubusercontent.com/9200607/42671704-660db6ae-862f-11e8-9b20-d0dceb76372e.jpg)
if u like - enjoy
if u rich and generous - send $
if u hot gurl - send nudes
:)

[2018-07-13 07:53] tombh commented on #8
https://www.brow.sh/assets/images/logo.svg

[2018-07-13 08:14] alrra commented on #8
@tombh Thanks!

[2018-07-14 15:07] Bromind commented on #23
Hey @arasatasaygin,
This logo would perfectly fit a small pomodoro timer I wrote few weeks ago. I've been looking here a few time to see if someone would ask for it, but it doesn't seem to be the case. So [here it is](https://framagit.org/Bromind/i3-pomodoro). Nothing fancy.
Anyway, my project is pretty small, so if someone else is interested in the logo, I'd be glad to withdraw my claim :-)

Just

[2018-07-14 16:06] moinism commented on #5
@arasatasaygin have you started awarding the logos yet?

[2018-07-14 16:10] jwu910 commented on #5
@moinism if you follow his repository, you can see when the logos have been awarded. There hasn't been much other activity so its not a lot of spam

[2018-07-16 00:01] ThemesGuide opened #44 "Voting rules clarification"
In the rules it says...

Does this specifically mean 👍? Or do other positive reactions such as ❤️,🎉, etc... count as upvotes too?

[2018-07-16 13:44] garrettw commented on #23
@Bromind you need to add a license file to your project to show that it is indeed open-source.

[2018-07-16 13:50] garrettw commented on #44
I would imagine at least ❤️  would count in addition to 👍 . But so far it hasn't been an issue at all so I imagine it would be addressed if/when it comes down to that.

[2018-07-16 14:21] jwu910 commented on #44
If :heart: is also counting, technically everyone would have had the opportunity to vote twice.

[2018-07-16 14:36] Bromind commented on #23
Whoops, you're right. It's so obvious to me that I didn't even though about it.

[2018-07-16 15:00] ThemesGuide commented on #44
@jwu910 - Exactly, that's my concern

[2018-07-17 14:09] m-henderson commented on #44
there really needs to be a specific web application built for the voting of logos. github just isn't the place to do it.

[2018-07-17 14:24] thiamsantos commented on #44
One option is to use [GH Pools](https://gh-polls.com/).

[2018-07-17 14:32] styfle commented on #44
@thiamsantos Does that take into account the github user name? If not, then the user could vote multiple times by using different browsers or computers.

[2018-07-17 15:53] thiamsantos commented on #44
@styfle a single vote per IP is allowed.

[2018-07-17 16:08] styfle commented on #44
@thiamsantos That means one person could vote multiple times using their mobile phone.

I think a simpler answer is to only count 👍 emoji when tallying votes.

[2018-07-17 16:12] jwu910 commented on #44
Why not just use github? I think this is fine. OP wants to target open source developers, and why not use a platform that open source developers are on?

[2018-07-19 18:24] arasatasaygin commented on #13
<img src="https://openlogos.org/logos/blush-guide.jpg">

Congrats @dreamingechoes
Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts and sticker mule voucher.

Cheers

~ Aras

[2018-07-19 18:24] #13 closed

[2018-07-19 18:35] arasatasaygin commented on #21
<img src="https://openlogos.org/logos/viki-guide.jpg">

Congrats @philss
Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts and sticker mule voucher.

Thanks again everyone for claiming and supporting.
Cheers

~ Aras

[2018-07-19 18:35] #21 closed

[2018-07-19 18:59] arasatasaygin commented on #20
<img src="https://openlogos.org/logos/recurse-guide.jpg">

Congrats @Cretezy
Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts and sticker mule voucher.

Thanks again everyone for claiming and supporting.
Cheers

~ Aras

[2018-07-19 18:59] #20 closed

[2018-07-19 19:06] arasatasaygin commented on #12
<img src="https://openlogos.org/logos/moby-guide.jpg">

Congrats @crnbrdrck
Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts and sticker mule voucher.

Thanks again everyone for claiming and supporting.
Cheers

~ Aras

[2018-07-19 19:14] arasatasaygin commented on #15
<img src="https://openlogos.org/logos/sage-guide.jpg">

Congrats @hobbypunk90
Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts and sticker mule voucher.

Thanks again everyone for claiming and supporting.
Cheers

~ Aras

[2018-07-19 19:14] #15 closed

[2018-07-19 20:06] Jasius commented on #12
Welp

[2018-07-19 21:16] garrettw commented on #20
Typo in the logo 😉

[2018-07-19 21:36] arasatasaygin commented on #20
:D Thanks for letting me know @garrettw
Sending you the updated resources @Cretezy

[2018-07-19 21:42] arasatasaygin commented on #12
:) sorry just saw the comment @Jasius

[2018-07-19 22:15] arasatasaygin commented on #12
<img src="https://openlogos.org/logos/moby-guide-2.jpg?v=2">

I updated the style guide for your project @Jasius
Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts and sticker mule voucher.

Thanks again everyone for baring with me 😂
Cheers

~ Aras

[2018-07-19 22:15] #12 closed

[2018-07-23 03:01] hattan commented on #11
Hey @christhekeele - thanks for the feedback, I do agree flame looks good. Just personally I think birdangle fits in better. But that's a subjective opinion :)

[2018-07-25 06:22] mirimmad commented on #14
@OkNoah the project is open source now.

[2018-07-25 08:51] OKNoah commented on #14
@mirimmad Cool! I am not much of an expert, but looks neat.

[2018-07-28 20:43] philss commented on #21
@arasatasaygin Thank you very much! 💜
The logo looks awesome with the project name! It is now on [Floki's README](https://github.com/philss/floki/blob/master/README.md). 🎉 😃

[2018-08-01 14:55] ldidry opened #45 "Any news?"
Hello @arasatasaygin,

You said in the README

Well… we're now in August and there's plenty of logos where you didn't said who winned it. Could you give us an update, please?

Thank you.

(and thank you very much for your marvellous idea!)

[2018-08-01 16:15] arasatasaygin commented on #45
Hey @ldidry
Thanks for asking. Briefly, some family priorities related to health issues. Nothing to worry about now.

I will be more active in the upcoming days.
Cheers

[2018-08-01 18:29] ldidry commented on #45
Thank you for the update!

Regards,

[2018-08-11 14:31] arasatasaygin commented on #2
<img src="https://openlogos.org/logos/jumbo-guide.jpg">

Congrats @Nuttymoon
Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts, and sticker mule voucher.

Thanks again everyone for claiming and supporting.
Cheers

~ Aras

[2018-08-11 14:31] #2 closed

[2018-08-13 18:28] LaurenceUrhegyi commented on #14
Hello!

As has been stated before, this is such a great idea, a really good way for small FOSS projects to get a sweet logo!

I'd like to put forward [BuildGrid](https://gitlab.com/BuildGrid/buildgrid) for this logo. BuildGrid is a remote execution server, written in Python, that implements Google's Remote Execution and Remote Workers APIs. It's designed to work with build tool clients such as [Bu

[2018-08-13 19:29] arasatasaygin commented on #4
<img src="https://openlogos.org/logos/quick-fingers-guide.jpg">

Congrats @claudiodangelis
Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts, and sticker mule voucher.

Thanks again for claiming and supporting.
Cheers

~ Aras

[2018-08-13 19:29] #4 closed

[2018-08-17 01:28] dreamZhf commented on #20
你好:
    申请使用此标志，用来做来安全识别二维码的LOGO

[2018-08-17 02:12] Cretezy commented on #20
Just an update:

The logo is live at https://noderize.js.org

It looks great, thank you!

[2018-08-17 07:49] arasatasaygin commented on #20
🔥🔥

[2018-08-18 08:10] arasatasaygin commented on #3
<img src="https://openlogos.org/logos/gate-keeper-guide.jpg">

Congrats @filipekiss
Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts, and sticker mule voucher.

Thanks again for claiming and supporting everyone.
Cheers

~ Aras

[2018-08-18 08:10] #3 closed

[2018-08-18 09:00] arasatasaygin commented on #5
<img src="https://openlogos.org/logos/hangry-birds-guide.jpg">

Congrats @moinism
Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts, and sticker mule voucher.

Thanks again for claiming and supporting everyone.
Cheers

~ Aras

[2018-08-18 09:00] #5 closed

[2018-08-18 11:31] arasatasaygin commented on #6
<img src="https://openlogos.org/logos/kareem-guide.jpg">

Congrats @neilgupta
Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts, and sticker mule voucher.

Thanks again for claiming and supporting.
Cheers

~ Aras

[2018-08-18 11:31] #6 closed

[2018-08-25 11:22] #7 closed, assigned to nobody

[2018-08-25 12:04] arasatasaygin commented on #9
<img src="https://openlogos.org/logos/flame-guide.jpg?v=2">

Congrats @billniakas
Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts, and sticker mule voucher.

Thanks again for claiming and supporting everyone.
Cheers

~ Aras

[2018-08-25 12:04] #9 closed

[2018-08-25 12:56] arasatasaygin commented on #10
<img src="https://openlogos.org/logos/clique-guide.jpg">

Congrats @marcog83
Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts, and sticker mule voucher.

Thanks again for claiming and supporting everyone.
Cheers

~ Aras

[2018-08-25 12:56] #10 closed

[2018-08-25 16:36] arasatasaygin commented on #11
<img src="https://openlogos.org/logos/birdangle-guide.jpg">

Congrats @hattan
Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts, and sticker mule voucher.

Thanks again for claiming and supporting everyone.
Cheers

~ Aras

[2018-08-25 16:36] #11 closed

[2018-08-30 19:33] arasatasaygin commented on #14
<img src="https://openlogos.org/logos/neo-guide.jpg">

Congrats @deedubs
Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts, and sticker mule voucher.

Thanks again for claiming and supporting everyone. Fun fact: I was considering to not include this one to the batch, but it got great reactions from you people, so thanks :)
Cheers

~ Aras

[2018-08-30 19:33] #14 closed

[2018-08-30 19:36] arasatasaygin commented on #17
<img src="https://openlogos.org/logos/steps-guide.jpg">

Congrats @mtharrison
Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts, and sticker mule voucher.

Thanks again for claiming and supporting everyone.
Cheers

~ Aras

[2018-08-30 19:36] #17 closed

[2018-08-30 20:19] arasatasaygin commented on #19
<img src="https://openlogos.org/logos/aysha-guide.jpg">

Congrats @aconrad
Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts, and sticker mule voucher.

Thanks again for claiming and supporting.
Cheers

~ Aras

[2018-08-30 20:19] #19 closed

[2018-08-30 21:21] #26 closed, assigned to nobody

[2018-08-31 14:35] arasatasaygin commented on #23
<img src="https://openlogos.org/logos/apple-guide.jpg">

Congrats @Bromind  Tomatoes are the new apples :)
Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts, and sticker mule voucher.

Thanks again for claiming and supporting everyone.
Cheers

~ Aras

[2018-08-31 14:35] #23 closed

[2018-08-31 15:01] arasatasaygin commented on #18
<img src="https://openlogos.org/logos/the-fall-guide.jpg">

Congrats @DrRoach
Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts, and sticker mule voucher.

Thanks again everyone for claiming and supporting.
Cheers

~ Aras

[2018-08-31 15:01] #18 closed

[2018-08-31 15:24] #22 closed, assigned to nobody

[2018-08-31 16:16] arasatasaygin commented on #25
<img src="https://openlogos.org/logos/bug-lock-guide.jpg">

Congrats @SpaceK33z
Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts, and sticker mule voucher.

Thanks again everyone for claiming and supporting.
Cheers

~ Aras

[2018-08-31 16:16] #25 closed

[2018-08-31 16:47] arasatasaygin commented on #24
<img src="https://openlogos.org/logos/globe-guide.jpg">

Congrats @devxpy
Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts, and sticker mule voucher. If you have any concerns about AT&T and Sierra feel free to not use it :)

@scalatapes thanks for claiming but for this batch, I'm distributing to open source projects.

Thanks again everyone f

[2018-08-31 16:47] #24 closed

[2018-08-31 16:50] devxpy commented on #24
@arasatasaygin Thank you!

Also, I would use it just for having a chance to say this - "AT&T contacted me" xD

[2018-08-31 17:19] arasatasaygin commented on #29
<img src="https://openlogos.org/logos/cosmos-guide.jpg">

Congrats @jwu910
Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts, and sticker mule voucher.

Thanks again everyone for claiming and supporting.
Cheers

~ Aras

[2018-08-31 17:19] #29 closed

[2018-08-31 17:52] arasatasaygin commented on #16
<img src="https://openlogos.org/logos/charlie-guide.jpg">

Congrats @ldidry
Can you please get in touch with me from arasatasaygin-at-gmail.com. I'll share all resource files, fonts, and sticker mule voucher.

Thanks again everyone for claiming and supporting.
Cheers

~ Aras

[2018-08-31 17:52] #16 closed

[2018-08-31 17:54] arasatasaygin commented on #44
Didn't have any edge cases and gave away all logos according to 👍
Thanks for the support.

Cheers
~ Aras

[2018-08-31 17:54] #44 closed

[2018-09-01 12:42] ldidry commented on #16
Awesome! Thank you very much! :tada:

[2018-11-30 08:21] Koenkk opened #46 "Zigbee2mqtt logo request (1.3k+ stars)"
**First of all I don't know if it is possible to request a logo, if not, feel free to close this.**

I would like to request a logo for [zigbee2mqtt](https://github.com/koenkk/zigbee2mqtt). Zigbee2mqtt is an opensource Zigbee bridge which integrates well with existing home automation software. Currently there is no logo but I would like to have one as the project is getting bigger and bigger.

Ple

[2018-12-07 14:23] arasatasaygin commented on #46
Hey @Koenkk
Thanks for your interest. zigbee2mqtt looks great. For the time being, I don't design logos on demand. But I will let you know on the second batch of open logos.
Cheers.

[2018-12-07 14:23] #46 closed, assigned to nobody

[2019-08-07 17:23] betsythefc commented on #12
Can this logo be claimed by more than one project?

[2019-08-07 17:37] garrettw commented on #12
No, and it's not. The winner withdrew.

[2019-08-07 17:38] Jasius commented on #12
Sorry bud.

[2020-05-07 18:42] oxr463 commented on #7
@thiamsantos looks like you never claimed this. Would you be willing to release it for use with another project?

[2020-05-07 19:51] Cryptophobia commented on #7
We'd still be interested to take this foxy :fox_face: at www.teamhephy.com if available. :)

[2020-05-08 02:14] thiamsantos commented on #7
@Cryptophobia I endedup renaming the repo to https://github.com/thiamsantos/spike-kv. But that project is mostly dead now, I didn't have time to work on it. I would be happy to sending the assets to you to use on hephy and removing the logo from my project. Actually I think never used the coupon for free stickers, I could also send to you. WDYT?  @arasatasaygin do you see any problem with that?

[2020-05-08 07:03] arasatasaygin commented on #7
Hi @thiamsantos,
As you are the winner, I trust and support your decision to pass the logo to @Cryptophobia .
Seeing the 🦊 on a live project would make me happy as well.

Enjoy and be safe.
~Aras

[2020-05-08 21:33] thiamsantos commented on #7
@Cryptophobia Feel free to reach me out at `thia.mdossantos@gmail.com`, I will send to you the assets of the logo :)

[2020-05-11 02:55] Cryptophobia commented on #7
@thiamsantos , thank you for passing the logo and sorry to hear about your project. Hope you are working on better and greater things to come!

I have just emailed you and I will add the foxy (to replace our ship logo) to our main repo, website, and slack channels sometime this week. We are very excited and will post back here. :)

[2020-05-11 22:24] Cryptophobia commented on #7
Thank you! Received the logo today via email from @thiamsantos . @arasatasaygin do you happen to have a Keybase account (want to send you something for the logo)?

[2020-05-11 23:20] Cryptophobia commented on #7
![hephy+logo+type](https://user-images.githubusercontent.com/15237494/81621427-5c4e6e00-93bc-11ea-80cf-b49a647b3826.png)

:bowing_man: :fox_face:

[2020-05-12 07:19] arasatasaygin commented on #7
❤️🦊

[2020-05-19 21:00] Cryptophobia commented on #7
![Selection_149](https://user-images.githubusercontent.com/15237494/82377766-2def1500-99f2-11ea-8a67-30a635aa8108.png)

[2020-08-30 12:15] rhysjtevans opened #48 "Is this project still active?"
I'm starting an open source project in the devsecops space and thought the steps is a great logo fit.

I saw it was assigned to a project but not removed from the site?

[2020-08-30 14:51] arasatasaygin commented on #48
Hi @rhysjtevans
Yes, all logos on this batch are given away.

[2020-08-30 14:51] #48 closed, assigned to nobody

[2020-10-24 20:21] HabibMAALEM commented on #30
Hi @arasatasaygin, you do a great job

I wanted to know if you still have a watchdog 🐶 logo  for an open source project
https://github.com/groupe-edf/watchdog

Thanks

[2020-10-25 06:24] arasatasaygin commented on #30
Hey @HabibMAALEM
This logo is given to @jbrooksuk earlier. If he wants to transfer it to you it is possible as James has the creative rights at this point, not me.

Cheers.

[2020-11-26 09:46] HabibMAALEM commented on #30
Hi @jbrooksuk, i want to know if you're always using this logo, if it's not the case I would be grateful if you can transfer the ownership rights to me.

[2021-08-23 02:16] IvanAquino opened #49 "Is there still a logo that I could claim?"
Is there still a logo that I could claim?

i'm building an open source software for project management inspired on jira
https://github.com/IvanAquino/Eunomia

[2021-08-23 06:36] arasatasaygin commented on #49
All logos on this batch are given away for now @IvanAquino
Good luck with your project 👍

[2021-08-23 06:36] #49 closed, assigned to nobody